extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug

block main
  
          
  // Alert message
  +alert-success(5500) 
      
  h1 Product List Page

  // Product List Table
  
  .card.mb-3 
  .card-header Filter and Find

  .card-body 
    .row.g-2
      // Các nút lọc
      .col-md-6
        .d-flex.flex-wrap.gap-2
          +filter-status(filterStatus)
      // Ô tìm kiếm
      .col-md-6
          +search(keyword)
      .col-md-6 
         a(
            href=`${prefixAdmin}/products/create`
            class="btn btn-outline-success"
                ) + Add new
        
  .card.mb-3 
    .card-header List
    .card-body
      +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)
      table(
        class="table table-hover table-sm"
        checkbox-multi
      )
       
        thead
          tr
            th 
                input(type="checkbox", name="checkall")
            th No.
            th Image
            th Product's Name
            th Price
            th Position
            th Status
            th Action
        tbody
          each item, index in products
            
            tr
              td 
                input(type="checkbox", name="id", value = item.id)
              td #{index + 1}
              td
                img(src=item.thumbnail || '/path/to/default-image.jpg', width="100px" height="auto" alt="Thumbnail")
              td #{item.title}
              td #{item.price}$
              td
                input(type="number", width="60px", name="position", value=item.position, class="form-control form-control-sm")
              td
                if (item.status === "active")
                  a(
                    data-status=item.status
                    data-id = item.id
                    button-change-status
                    href=`javascript:;` class="badge badge-success button-change-status"
                    ) Active
                else
                  a(
                    data-status=item.status
                    data-id = item.id
                    button-change-status
                    href="javascript:;" class="badge badge-warning text-dark button-change-status"
                    ) Inactive
              td 
                button(class="btn btn-warning btn-sm text-dark") Edit
                button(
                  class="btn btn-danger btn-sm ms-2"
                  button-delete 
                  data-id = item.id
                  ) Delete
  +pagination(pagination)
  form(
   
    action=""
    method="post"
    data-path=`${prefixAdmin}/products/change-status`
    
    id="form-change-status"
    )
  form(
   
    action=""
    method="post"
    data-path=`${prefixAdmin}/products/delete`
    
    id="form-delete-product"
    )


  script(src="/admin/js/product.js") 
  script(src="/admin/js/script.js") 