extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug

block main
  h1 Product List Page

  // Product List Table
  
  .card.mb-3 
  .card-header Filter and Find

  .card-body 
    .row.g-2
      // Các nút lọc
      .col-md-6
        .d-flex.flex-wrap.gap-2
          +filter-status(filterStatus)
      // Ô tìm kiếm
      .col-md-6
          +search(keyword)
        
  .card.mb-3 
    .card-header List
    .card-body
      table.table.table-hover.table-sm
        thead
          tr
            th No.
            th Image
            th Product's Name
            th Price
            th Status
            th Action
        tbody
          each item, index in products
            tr
              td #{index + 1}
              td
                img(src=item.thumbnail || '/path/to/default-image.jpg', width="100px" height="auto" alt="Thumbnail")
              td #{item.title}
              td #{item.price}$
              td
                if (item.status === "active")
                  a(
                    data-status=item.status
                    data-id = item.id
                    button-change-status
                    href="javascript:;" class="badge badge-success button-change-status"
                    ) Active
                else
                  a(
                    data-status=item.status
                    data-id = item.id
                    button-change-status
                    href="javascript:;" class="badge badge-warning text-dark button-change-status"
                    ) Inactive
              td 
                button(class="btn btn-warning btn-sm text-dark") Edit
                button(class="btn btn-danger btn-sm ms-2") Delete
  +pagination(pagination)
  form(
   
    action=""
    method="Post"
    data-path=`${prefixAdmin}/products/change-status`
    
    id="form-change-status"
    )


  script(src="/admin/js/product.js") 