extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  +alert-success(5500) 
  +alert-error(5000)
  h1.mb-4 Role Management

  .card.mb-4
    .card-header.d-flex.justify-content-between.align-items-center
      span Role List
      a.btn.btn-outline-success(href=`${prefixAdmin}/roles/create`) + Add New

    .card-body.p-0
      table.table.table-hover.table-bordered.mb-0
        thead.thead-light
          tr
            th(style="width: 5%") No.
            th(style="width: 30%") Role Name
            th(style="width: 45%") Description
            th(style="width: 20%") Actions

        tbody
          if records.length > 0
            each item, index in records
              tr
                td #{index + 1}
                td #{item.title}
                td #{item.description}
                td
                  //- a.btn.btn-secondary.btn-sm(href=`${prefixAdmin}/roles/detail/${item.id}`) Detail
                  a.btn.btn-warning.btn-sm.ml-1(href=`${prefixAdmin}/roles/edit/${item.id}`) Edit
                  button(
                  class="btn btn-danger btn-sm ms-2"
                  button-delete-role 
                  data-id = item.id
                  ) Delete
          else
            tr
              td(colspan="4").text-center.text-muted No roles have been created yet.

  form(
   
    action=""
    method="post"
    data-path=`${prefixAdmin}/roles/delete`
    class='d-none'
    id="form-delete-roles"
    )
  script(src="/admin/js/role.js") 
  link(rel="stylesheet", href="/css/role.css")
  
  