
extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-5
    .row
      .col-12
        +box-head("products page")

    



    .row
      each item in products
        .col-md-4.mb-4
          .product-item.shadow-sm.p-3.border.rounded
            img.product-img(src=item.thumbnail, alt=item.title)
            .inner-content.mt-3
              h3.product-title 
                a(href=`/products/${item.slug}`) #{item.title}
              .price-box
                span.inner-price-new.text-danger.me-2 #{item.priceNew}$
                span.inner-price-old.text-muted.text-decoration-line-through #{item.price}$
              .discount.text-success.mt-1 #{item.discountPercentage}% off
