extends ../../layouts/default.pug
include ../../mixins/table-tree.pug
include ../../mixins/alert.pug

block main

  +alert-success(5500) 
  if(role.permissions.includes("products-category_view"))
    h1 Product category
    .card.mb-3
      .card-header List item
      .card-body
        .row
        
          .col-8
          .col-4
            if(role.permissions.includes('products-category_create'))
              a(href=`${prefixAdmin}/products-category/create`, class="btn btn-outline-success") + Add new
        table.table.table-striped.table-bordered(checkbox-multi)
          thead.table-dark
            tr
              //- th
              //-   input(type="checkbox", name="checkall")
              th STT
              th Image
              th Title
              th Position
              th Status
              th Actions
          tbody
            +table-tree(records)
  else 
    h1 NOT FOUND  
  form(
   
    action=""
    method="post"
    data-path=`${prefixAdmin}/products-category/delete`
    
    id="form-delete-category"
    )
  script(src="/admin/js/product-category.js") 
  script(src="/admin/js/script.js") 
  link(rel="stylesheet", href="/css/product-category.css")